<%= form_for(@rating, :builder => BootstrapFormBuilder) do |f| %>
  <fieldset>
    <legend>Rating details</legend>

    <%= f.text_field :name, :class => 'xxlarge' %>

    <%= f.text_field :title, :class => 'xxlarge', :help_block => 'A short descriptive summary of the talk' %>

    <%= f.select :stars, [1,2,3,4,5] %>

    <%= f.text_area :comments, :class => 'xxlarge', :help_block => 'Please enter some nice comments so I can improve presenting' %>

    <div class="actions">
      <%= f.submit :class => 'btn primary' %>
      <%= link_to 'Cancel', ratings_url, :class => 'btn' %>
    </div>
</fieldset>
<% end %>
