<p id="notice"><%= notice %></p>

  <h1><%= @rating.title %></h1>

<blockquote>
  <p><%= @rating.comments %></p>
  <small><%= @rating.name %> - <%= @rating.stars %> stars</small>
</blockquote>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
