<h1>About UBC on Rails</h1>
<p>This site is a demonstration site used for a Rails presentation to UBC students</p>

<h2>What to see and do</h2>
<ol>
  <li><%= link_to "Add a Rating", new_rating_url %>.  First go look at the <%= link_to "ratings", ratings_url %></li>
  <li><%= link_to "Download the presentation", download_url %>.  Note:  You are going to have to add a rating first.</li>
  <li><%= link_to "View the source code", "https://github.com/adamcooper/ubc_on_rails" %>.  Make sure you either clone it or browse around to look at the code samples.</li>
</ol>

<h2>Notes</h2>

<p>This was built using the Ruby on Rails and the principles presented in the tutorial and touches on the following aspects:</p>

<ul>
  <li>Generators</li>
  <li>Models & Validations</li>
  <li>Controllers & Views</li>
  <li>Forms</li>
  <li>Helpers</li>
  <li>Layout & Partials</li>
</ul>

<h3>Meta</h3>
<p>This is available at <%= link_to "http://bit.ly/ubc_on_rails", "http://bit.ly/ubc_on_rails" %> which is hosted on Heroku and was prepared by <%= link_to "Adam Cooper", "https://github.com/adamcooper" %> </p>
