<!DOCTYPE html>
<html>
<head>
  <title>PresentationSignup</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => '/partials/navigation' %>
  <div class="container">
<%= yield %>
</div>

</body>
</html>
